/* Eyes */
body {
  margin: 0;
  padding: 0;
  /* background: #14495e; */
}

.eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.eye {
  width: 240px;
  height: 120px;
  /* background: #fff; */
  background: black;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.ball {
  width: 80px;
  height: 80px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* .navbar  */
.navbar-brand img {
  max-height: 25px;
}

.navbar-icon {
  max-height: 60px;
}

/* footer */
footer {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
}

/* grid class: main */
.main {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: auto 1fr auto;
  gap: 5px;
  height: 90vh;
}

header {
  grid-column: 1/7;
  grid-row: 1;
}

.eyes {
  grid-column: 1/6;
  grid-row: 3/5;
}

footer {
  grid-column: 1/7;
  grid-row: 7;
}

/* post using Google Fonts  */
#contacts-section h2 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 24px;
}

#contacts-section h4 {
font-family: 'Nunito Sans', sans-serif;
font-size: 12px;
}

/* .profile_pic  */
.profile_pic img {
  max-width: 100%
}